.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%
}

.photo-box {
width: auto;
margin: 0 auto;
position: relative;
}

.photo-box img {
	height: 300px;
  width: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
  width: inherit;
  color: #fff;
  box-sizing: border-box;
}



//
// 	img {
// 		transition: all .3s ease;
// 		transform-origin: center center;
// 	}
// 	&:hover {
// 		outline: 1px solid #09f;
// 		img {
// 			transform: scale(1.1);
// 		}
// 	}
// }
// .album-item-container {
// 	padding: 0;
// 	margin: 0;
// }

// .caption:hover {
// 	visibility: visible;
// }
