.album-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%
}

.album-image-container {
width: auto;
margin: 0 auto;
position: relative;
}

.album-image {
	height: 300px;
  width: auto;
}
