.comment-container {
  display: flex;
  flex-direction: column;
}

.comment-container i {
  padding-left: 10px;
}

.comment-item-box {
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}

.comment-author {
  padding: 5px;
  color: gray;
  font-size: 12px;
}

.comment-text {
  min-height: 40px;
  word-wrap: break-word;
}

.comment-icon-container {
  display: flex;
  justify-content: flex-end;
}
