.comment-container {
  display: flex;
  flex-direction: column;
}

.comment-container i {
  padding-left: 10px;
}

.comment-item-box {
  border: 1px solid gray;
  border-radius: 3px;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}

.comment-author {
  color: gray;
}

.comment-text {
  min-height: 40px;
}
