
.dropdown-content {
    // top: 7%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

// .dropdown-content a {
//     color: black;
//     padding: 10px 12px;
//     text-decoration: none;
//     display: block;
//     text-align: left;
// }

.dropdown-content .text {
  color: black;
}

.dropdown-content .text:hover {
  color: white;
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}
