.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.logo {
  font-family: 'Lobster', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.navbar li {float: left;}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {background-color: #111;}

.navbar li a.active {background-color: #4CAF50;}

.navbar li.right {float: right;}

@media screen and (max-width: 600px){
    .navbar li.right,
    .navbar li {float: none;}
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: flex-end;
  background-color: darkgrey;
  height: 30px;
  width: 100%;
  color: white;
  font-size: 25px;
}

// footer {
//   position:fixed;
//   bottom:0;
// }

footer a {
  padding: 0 10px;
}

@media only screen and (max-width : 600px) {
  .footer-links {
    width: 50%;
  }
}
