.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  height: 100%;
}
//
.navbar ul .right {
  // display: inline-block;
  justify-content: flex-end;

}

.navbar li {
  display: flex;
  height: 58px;
  text-align: center;
}

.navbar li a {
  display: flex;
  color: white;
  text-align: center;
  height: 100%;
  // margin: 0 10px;
  padding: 20px 10px 0 10px;
  justify-content: center;
}

#logo {
  font-family: 'Lobster', sans-serif;
  font-weight: 500;
  padding: 10px;
  font-size: 30px;
  text-decoration: none;
}


.navbar li a:hover:not(.active) {background-color: #111;}

.navbar li a.active {background-color: #4CAF50;}

@media screen and (max-width: 400px){
    .navbar li.right,
    .navbar li {float: none;}
}

.session-button {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.footer {
  display: flex;
  bottom: 0;
  justify-content: flex-end;
  background-color: #333333;
  height: 30px;
  width: 100%;
  font-size: 25px;
}

//
.footer a {
  padding: 0 10px;
  color: white;
  z-index: 1;
}

@media only screen and (max-width : 400px) {
  .footer-links {
    width: 50%;
  }
}
