.photo-text {
  font-family: 'Lobster', sans-serif;
  padding-left: 20px;
  text-align: center;
  padding-right: 20px;
  font-size: 80px;
  font-weight: 600;
  color: black;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%
}
/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 10px 0 0 30px;
}

.image {
    margin-top: 12px;
    border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
