.photo-show-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.photo-show-container button {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: #b8bec4;
  color: black;
  height: 30px;
  width: 40%;
  font-size: 14px;
  margin: 10px;
}

.photo-show-albums {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}


.photo-show-info button:hover {
  background-color: gray;
}

.photo-tags {
  display: flex;
}

.photo-tags h2 {
  display: flex;
  justify-content: center;
}

.photo-show-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #333333;
}

.photo-show-image {
  margin: 10px;
  width: auto;
  max-height: 400px;
  max-width: 500px;
}

.photo-show-info-container {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 50%;
}

.photo-info-header {
  font-size: 20px;
  margin: 10px;
}

.photo-show-info-left {
  display: inline-block;
  height: 100%;
  width: 45%;
  margin: 10px;
}

.photo-show-info-right {
  display: inline-block;
  height: 100%;
  width: 45%;
  margin: 10px;
}

.photo-comment-item {
  border: 1px solid gray;
  width: 80%;
  min-height: 50px;
  border-radius: 3px;
  margin: 10px auto;

}

.photo-comment-new {
  border: 1px solid gray;
  width: 100%;
  min-height: 50px;
  border-radius: 3px;
  margin: 10px auto;
}

.album-thumb {
  height: 80px;
  width: 80px;
}

.album-cover-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.album-cover-text {
  display: flex;
  flex-direction: row;
}

.add-to-album {
  display: flex;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.modal-button {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background: #b8bec4;
  color: black;
  height: 30px;
  width: 40%;
  font-size: 14px;
  margin: 10px;
}

.modal-button:hover {
  background-color: gray;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 200px;
}

.modal-label {
  margin: 10px;
}

.modal-input {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 3px;
  min-height: 50px;
  width: 80%;
}
