//Template from W3School

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

.splash  {
    filter: blur(3px);
    opacity: 0.2;
    background-image: image-url("splash.jpeg");
    height: 100vh;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation: backgroundScroll 35s linear 10;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 35s linear 10;
    animation-fill-mode: forwards;
}

//Welcome text CSS

.title {
  font-family: 'Lobster', sans-serif;
  color: #5276af;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
  left: 0;
  position:absolute;
  text-align:center;
  top: 300px;
  width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
}


.logo-name {
  z-index: 1;
  position: absolute;
  top: 150px;
  color: #327bef;
  font-size: 100px;
  font-weight: 600;
}
